* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, p {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
}

.content {
  max-width: 1200px;
  width: 100%;
  position: relative;
  margin: 20px auto;
}

.settings {
  position: relative;
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  border: 1px solid #333;
  border-radius: 5px;
  & > * {
    display: inline-block;
    &:not(:first-child) {
      margin-left: 10px;
      &:nth-child(3) {
        margin-left: 30px;
      }
      &:nth-child(5) {
        margin-left: 32px;
      }
    }
  }

  input[type="color"] {
    border: none;
    appearance: searchfield;
    width: 20px;
    background-color: white;
  }

  .button {
    padding: 5px 15px;
    border: 1px solid #333;
    background-color: #dadada;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    &:hover {
      background-color: #333;
      color: #dadada;
      border: 1px solid #dadada;
    }
  }
}

.drawArea {
  position: relative;
  margin: 20px auto;
  height: 300px;
  width: 400px;
  display: inline-block;
}

canvas {
  border: 1px solid #333;
  border-radius: 5px;
}
